<?xml version="1.0" encoding="utf-8"?>
<Wix
	xmlns="http://schemas.microsoft.com/wix/2006/wi"
>

	<Fragment Id="DATABASEDIR">
		<?define PropertyId="DATABASEDIR"?>
		
		<Property Id="$(var.PropertyId)" Secure="yes" SuppressModularization="yes"/>

		<CustomAction
			Id="Set$(var.PropertyId)"
			Script="jscript"
		><![CDATA[
			var fso = new ActiveXObject( "Scripting.FileSystemObject" );
			Session.Property( "$(var.PropertyId)" ) = fso.GetParentFolderName( Session.Property( "DATABASE" ) )	+ "\\" ;
		]]></CustomAction>

		<InstallExecuteSequence>
			<Custom Action="Set$(var.PropertyId)" Before="InstallInitialize"/>
		</InstallExecuteSequence>
		<?undef PropertyId?>
	</Fragment>

</Wix>