<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ExcelMappingSection" type="csmutil.ConfigSectionExcelMapping, csmutil"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="ImportQuery" value="SELECT [Модификация СИ] AS DT_MARK, RTRIM(IIF(ISNULL([Наименование для заказчика]), '', [Наименование для заказчика])+IIF(ISNULL(' '+[Модификация для заказчика]), '', ' '+[Модификация для заказчика])) AS CUSTOMER_DT_NAME, [Тариф] AS TARIF,
         IIF(LCASE([Тип работы])='единичное си', 0, IIF(LCASE([Тип работы])='комплект си', 1, IIF(LCASE([Тип работы])='партия си', 2, 0))) AS INTEGRATE_TYPE_ID, 
         [Кол-во СИ] AS DEVICE_COUNT, [Заводские №] AS SERIALS FROM [Лист1$]
         WHERE LEN([Модификация СИ])>0 OR LEN([Наименование для заказчика])>0"/>
    <!--notification delay in minutes-->
    <add key="NotificationTimeout" value="1"/>
  </appSettings>
  <ExcelMappingSection>
    <ExcelMapping name="ImportCPMapping">
      <XElement source="Идентификатор" dest="ENTITY_ID"/>
      <XElement source="Наименование и модификация СИ" dest="DT_NAME"/>
      <XElement source="Класс точности, погрешность, %" dest="CLASS"/>
      <XElement source="Пределы измерений" dest="LIMIT"/>
      <XElement source="Количество" dest="QTY"/>
      <XElement source="Код подразделения" dest="DEP_LOCAL_CODE"/>
    </ExcelMapping>
    <ExcelMapping name="ImportContractSpec">
      <XElement source="Модификация СИ" dest="DT_MARK"/>
      <XElement source="Наименование для заказчика" dest="CUST_DT_NAME"/>
      <XElement source="Модификация для заказчика" dest="CUST_DT_MARK"/>
      <XElement source="Кол-во СИ" dest="DEVICE_COUNT"/>
      <XElement source="Заводские №" dest="SERIALS"/>
      <XElement source="Тариф" dest="TARIF"/>
      <XElement source="Тип работы" dest="INTEGRATE_TYPE_STR"/>
    </ExcelMapping>
  </ExcelMappingSection>
</configuration>